<div class="table-container">
  <div>
    <table>
      <ng-container *ngFor="let i of scheduleArr; index as k">
        <tr>
          <th  [ngStyle]="{
            'background-color':
              k%2==0 ? '#2EBD73' : '#AAEAC9'
          }"rowspan="2" style="text-align: center; background-color: #50c4ed">
          {{ i.date }}
          </th>
          <td 
          [ngStyle]="{
            'background-color':
              k%2==0 ? '#2EBD73' : '#AAEAC9'
          }">
            {{ i.player1.names }}
          </td>
        </tr>
        <tr>
          <td 
          [ngStyle]="{
            'background-color':
              k%2==0 ? '#2EBD73' : '#AAEAC9'
          }">
            {{ i.player2.names }}
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
