

<mat-card class="demo-inline-calendar-card" >
    <mat-calendar  [selected]="selected"  style="margin-left: 450px;"></mat-calendar>
  </mat-card>
  <p>Selected date: {{selected}}</p>

  <!-- <mat-form-field appearance="outline">

    <input matInput formControlName="releasedAt"
           [min]="minDate"
           [max]="maxDate"
           [matDatepicker]="releasedAtPicker">
  
    <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
  
    </mat-datepicker-toggle>
  
    <mat-datepicker #releasedAtPicker>
  
    </mat-datepicker>
  
  </mat-form-field> -->



  <!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->