<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrom Tournament 2024</title>

</head>

<body >
  <div class="outer-container">

    <header>
      <h1>Welcome to the Carrom Tournament 2024</h1>
      <p>This Webpage shows the Upcoming fixtures as well as results of the finished games.</p>
      <p>
        You can predict the Winner and can win Exciting prices.
      </p>
    </header>
    
    <nav>
      <ul>
        <li><a routerLink="/reg" >Home</a></li>
        <li><a routerLink="/sch" >Knockoffs</a></li>
        <li><a routerLink="/semi">Quarter-Finals</a></li>
        <li><a routerLink="/semi-1">Semi-Finals</a></li>
        <li><a routerLink="/points">Points</a></li>
        <li><a routerLink="/predictionForms">Predict the Winner</a></li>
        <li><a routerLink="/rules">Rules</a></li>
      </ul>
    </nav>
    
    
    <router-outlet></router-outlet>
  </div>
    <div class="bg-image-wrapper" >
<img class="bg-image" src="assets/carrom-img.jpg" alt="Carrom Table Game"> 
</div>
    
    </body>
    </html>
 
