body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #FBA834;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  nav {
    background-color: #333A73;
    padding: 10px;
    text-align: center;
    color: aqua;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav li {
    display: inline-block;
    margin: 0 20px;
  }

  nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
    transition: color 0.3s;
  }

  nav a:hover {
    color: #3498db;
  }

  main {
    padding: 20px;
  }

  h1 {
    color: blue;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    color: #494848;
  }
 
.outer-container{
  position: relative;
  z-index: 10;
}
.bg-image{
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
    position: absolute;
    width: 100%;
    height: 100dvh;
    top: 0;
    z-index: 0;
}

  