<!-- <div *ngFor="let i of a" >
    <div class="a" style="text-align: center;">
    <p style="color: red;font-weight: bold;">{{i.date}}</p>
    <p>{{i.player1}}<br> vs <br> {{i.player2}}</p>
    </div>
</div> -->

<div class="table-container">
  <div>
    <table>
      <ng-container *ngFor="let i of scheduleArr">
        <tr>
          <th rowspan="2" style="text-align: center; background-color: #387ADF">
            {{ i.date }}
          </th>
          <td
            [ngStyle]="{
              'background-color':
                i.player1.status == statusEnum.won ? '#5EF115' : '#CDD0BB'
            }"
          >
            {{ i.player1.names }}
          </td>
        </tr>
        <tr>
          <td
            [ngStyle]="{
              'background-color':
                i.player2.status == statusEnum.won ? '#5EF115' : '#CDD0BB'
            }"
          >
            {{ i.player2.names }}
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
