<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  
  <div  id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"  role="document">
      <div class="modal-content" style="background-color: #bf4f4f;margin-top: 60px;">
        
        <div class="modal-body">
          <H2 style="text-align: center;font-weight: bolder; color: rgb(252, 251, 251);">Registration Closed!!!</H2>
        </div>
       
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="navigateToHome()">Close</button>
          
        
      </div>
    </div>
  </div>

