<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  
  <div  id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"  role="document">
      <div class="modal-content" style="background-color: #387ADF;margin-top: 60px;">
        
        <div class="modal-body">
          <H2 style="text-align: center; color: #FBA834;">Predict the winner to win exciting prizes</H2>
        </div>
       <div class="buttonContainer">
          <button style="background-color: #50C4ED" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="navigateToPredict()">Predict</button>
          <button style="background-color: #3f413d" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="navigateToCurrent()">Current matches</button>
        </div>
        
      </div>
    </div>
  </div>

